header {
    text-align: center;
    background: linear-gradient(#aa8dcd, #684293);
    height: 25%;
    color: #e1e1e1;
    padding-top: 5px;
    margin-top: 0;
}

header h2 a {
    text-decoration: none;
    color: #e1e1e1;
}

header nav {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

header nav a {
    text-decoration: none;
    color: #e1e1e1;
    font-size: 20px;
    font-weight: bold;
    padding: 5%;
}

header nav a:hover {
    color: #684293;
    -webkit-text-stroke: 1px #e1e1e1;
}

h1 {
    font-weight: bold;
    font-size: 50px;
}

body h1 {
    color: #684293;
    border-bottom: 2px solid #684293;
    margin-left: 2%;
    margin-right: 2%;
}

.formation {
    margin : 2%;
    display: inline-block;
    width: 45%;
}

.passion {
    margin : 2%;
    display: inline-block;
    width: 29%;
}

.contact {
    margin : 2%;
}

.competences {
    margin : 2%;
    display: inline-block;
    width: 45%;
}

.projet {
    margin : 2%;
    display: inline-block;
    width: 45%;
}

.projet video {
    height: 200px;
    box-shadow: 3px 3px 3px #684293;
}

body img {
    height: 200px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #684293;
}

body img:hover {
    box-shadow: 5px 5px 5px #684293;
}

.competences img {
    height: 20px;
    box-shadow: none;
}

.competences img:hover {
    box-shadow: none;
}

body a {
    text-decoration: none;
    color: black;
}

body a:hover {
    color: #684293;
}

header h1{
    color: #e1e1e1;
    border-bottom: none;
}

h2 {
    font-weight: bold;
    font-size: 30px;
}

h3 {
    font-weight: normal;
    font-size: 20px;
}

ul, li {
    font-size: 20px;
}

p{
    font-size: 20px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: black;
    background-color: #e1e1e1;
    display: table;
    width: 100%;
    font-size: 20px;
}


footer {
    height: 5%;
    background: linear-gradient(#684293, #aa8dcd);
    text-align: center;
    color: #e1e1e1;
    display: table-row;
    font-size: 20px;
}